# Ignore Mac system files
.DS_store

# Ignore these folders
instance_files
db_files*
CPI_verification/final_databases*
profile_stats
*.pyc
slurm-*
worker
.ipynb_checkpoints
*checkpoint*
dask-worker-space
plots
plot_clusters
.idea*
*.csv
*.h5
*.db
